.postHeader {
  height: 6rem;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    img:first-of-type {
      width: 4.5rem;
      height: 3.125rem;
      margin-right: 1.25rem;
    }
    img {
      width: 1.15rem;
      height: 0.90rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem;
    }
    h2 {
      letter-spacing: -0.036rem;
    }
  }
}
